@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&family=Press+Start+2P&display=swap');

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  background: #222;
  padding: 5px 20px;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo a:hover {
  text-decoration: none;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.logo a,
.toggle a {
  font-size: 20px;
}

.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;

}

.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.secondary {
    border: 0;
  }

  .button a {
    padding: 7.5px 15px;
    background: #95c7e8;
    border: 1px #7dbce6 solid;
    border-radius: 50em;
    position: relative;
  }

  .button.secondary a {
    background: transparent;
  }

  .button a:hover {
    text-decoration: none;
    transition: all .25s;
  }

  .button:not(.secondary) a:hover {
    background: #71b7e6;
    border-color: #71b7e6;
  }

  .button.secondary a:hover {
    color: #ddd;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }
}

.button1 a {
  padding: 7.5px 15px;
  background: #ff0000;
  border: 1px #ff0000 solid;
  border-radius: 50em;
}

.f {
  width: 33.333%;
  margin-top: 5px;
  display: table-cell;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Sonsie One', cursive;
  ;
  font-weight: bold;
  transition: 0.2s ease color;
}

.flogo {
  font-size: 33px;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.logout {
  background-color: rgb(255, 0, 0) !important;
}

nav li {
  position: relative;
  display: table-cell;
  color: #ffffff !important;
  text-decoration: none;
  font-family: 'Monda', sans-serif;
  font-weight: bold;
  transition: 0.2s ease color;
}

nav li:before,
nav li:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav li:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

nav li:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

nav li:nth-child(1):before {
  background-color: yellow;
}

nav li:nth-child(1):after {
  background-color: red;
}

nav li:nth-child(2):before {
  background-color: #00e2ff;
}

nav li:nth-child(2):after {
  background-color: #89ff00;
}

nav li:nth-child(3):before {
  background-color: purple;
}

nav li:nth-child(3):after {
  background-color: palevioletred;
}

nav li:nth-child(4):before {
  background-color: rgb(128, 0, 0);
}

nav li:nth-child(4):after {
  background-color: rgb(255, 255, 255);
}

nav li:nth-child(5):before {
  background-color: rgb(0, 255, 217);
}

nav li:nth-child(5):after {
  background-color: rgb(97, 6, 255);
}

nav li:hover {
  color: #fff;
}

nav li:hover:before,
nav li:hover:after {
  transform: scale(1);
}

a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
  color: white;
}


a:active {
  text-decoration: none;
}

.glow-on-hover {
  width: auto;
  height: auto;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #00e5ff, #4800ff, #00e1ff, #ff00ee, #ff0095, #ff004c, #f700ff, #ff007b, #ff04d9);
  position: absolute;
  margin-top: -10px !important;
  right: 6px;
  background-size: 300%;
  z-index: -1;
  filter: blur(5px);
  width: calc(20px + 4px);
  height: calc(20px + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: auto;
  height: auto;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.menu {
  margin-top: 10px !important;
}

.welcome {
  color: #00d5ff !important;
  font-family: 'Monda', sans-serif !important;
}